body{
background-image: url(space.gif);
margin-right: 0;
}
.head{

background-color: #45454d;
}
.nv
{
/* background-image: url(space.gif); */
background-color: #45454d;
  padding-top: 2%;
  width: 640px;
  padding-bottom: 16%
}
.navbar-brand{
  padding-right: 37%;
  color: #fe346e;
  text-shadow: 5px 1px #05dfd7;
}
.navbar-brand:hover{
color: red;
transition: 1.5s;
transform: rotate(360deg);
}

.navbar{
  padding:2%  0 0 0;
  font-size: 1.2rem;
  margin-right: 0;
}
.nav-link{
  color:#6ba8a9;

}
.nav-link:hover{
  color: #05dfd7;
  text-transform:uppercase;
  text-decoration:line-through;
}
.navbar-toggler
{
  background-color: #05dfd7;
  margin-right: 10%;
}

.text{
  padding-top: 25%;
}
.text h2{
  color: #00a8cc;
}
.text h5{
  color: #a1e6e3;
}
.btn{
  margin-top: 5%;
  background-color: yellow;
  color: black;
}
.btn:hover{
  background-color: black;
  color: yellow;
}
.ex-space
{
  height: 25px;
}

.Hello{
  padding-left: 5%;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  padding-top: 8%;
  color: #05dfd7;
  font-size:5rem;
  font-family: 'Bahianita', cursive;
  background-image: url(grey.gif);
  background-size: 100% 100%;
  padding-bottom: 16%;
  padding-right: 19%;
}

.animate{
  color: white;
  text-shadow: 5px 6px red;
  text-transform: uppercase;


}
.space{
  padding-left: 20px;
}
.yatin{
color: #32ff6a;
}
p{
  color:#fe346e;
  padding: 15% 0 2% 4%;
  font-size: 1.5rem;

}
p:hover{
  color: white;
}

#about{
  margin-right: 7%;
}

#about img{
  clip-path: circle(50% at 50% 50%);
  margin-left: 20%;
  margin-top: 1%;
  float: left;
  margin-right: 7%;
}

#about img:hover{
clip-path: polygon(73% 0, 100% 50%, 73% 100%, 0% 100%, 20% 50%, 0% 0%);
}

#about h1{
  padding:2% 0 0 2%;
  font-family: 'Audiowide', cursive;
  font-size: 7rem;
  color: grey;
}

#about h2,h5{
color: #a1e6e3;
line-height: 2;
}
#about h2
{
  color: #fe346e;
}

#about span{
  color:  #05dfd7;
}

#CircleBar h1{
  padding-bottom: 5%;
  font-family: 'Audiowide', cursive;
  font-size: 7rem;
  color: grey;
  margin-left: 60%;
}

#CircleBar .container-fluid{
  padding-left:  15%;
  padding-right: 15%;
}


#CircleBar{
  margin-top: 10px;
  text-align: center;
}


#CircleBar .round{
  min-height: 255px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 50px;
}


 #CircleBar .round strong{
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -40%;
   transform: translate(-30%);
   font-size: 40px;
   color: white;
   font-weight: 100;
 }

#CircleBar .text{
  display: block;
  color: yellow;
  font-size: 22px;
}
#CircleBar .text:hover{
color: #05dfd7;
}

#CircleBar .text  i{
  color:#fe346e;
  font-size: 30px;
  margin-right: 7px;

}

.circle1 .circle2 .circle3 .circle4
{
  padding-right: 10%;
}

.h{
  margin-left: 500px;
}

#contact h1{
  font-size: 7.5rem;
  color: #a9fffd;
  font-family: 'Audiowide', cursive;
  margin: 5% 20% 0 10%;
  line-height: 1.2;
}

#contact a{
  color:#05dfd7;
  margin: 0 0 0 8%;
  font-family: 'Audiowide', cursive;
  font-size: 7.5rem;
}
#contact a:hover{
  color: #fe346e;
}


#contact .container{
  margin-right: 30%;
}


hr{
  margin-top: 6%;
  background-color: grey;
  width: 700px;
  height: 2px;
  align-items: center;
}

#topBtn{
  color: #05dfd7;
  border: none;
  cursor: pointer;
  display: none;
  background-color: #000000;
  height: 30px;
}
#topBtn:hover{
color: #fe346e;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.main{
  margin: 6% 0;
  display: grid;
  grid-template-columns: 30% 40% 20%;
  background-color: black;
}
.brand-name{
  padding: 12% 0 5% 15%;
}
.brand-name h2 {
  font-size: 3rem;
  color: #05dfd7;
}
.brand-name h5 {
  color: #fe346e;
  font-size: 1.5rem;
}
.brand-name h2:hover{
  color: #fe346e;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.follow{
  padding: 12% 0 5% 15%;
  text-align: center;
}


.follow h3{
  color: #05dfd7;
  font-size: 2.5rem;
  margin-bottom: 5%;
}
.follow h3:hover{
  color: #fe346e;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}
.iconf{
  color: #fe346e;
  padding: 3%;
}
.iconf:hover{
  color: #05dfd7;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.upBtn{
  text-align: right;
  margin-right: 5%;
  margin-top: 20%;
  margin-bottom: 5%;
}


.copy{
  background-color: grey;
  padding:2% 0;
  text-align: center;
}
















@media (max-width:1020px)
{

  .head{
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  }
  .Hello{
    text-align: center;
    padding-left: 20%;
    width: 100%;
    height: 1200px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 10rem;
  }
  p{
    font-size: 2.5rem;
  }
  .nv
  {
    width: 100%;
    text-align: center;
  }
  .nav-link{
    font-size: 1.5rem;
  }
  .navbar-brand{
    padding-left: 5%;
    font-size: 2rem;
  }
  .d{
   font-size: 4.5rem;
 }
 .text h2 {
   font-size: 3rem;
 }
 .text h5 {
   font-size: 1.5rem;
 }
 button{
   font-size: 2rem;
 }

 #about img
 {
   margin:0 300px 20px 350px;
 }
 #about img:hover{
   clip-path: circle(50% at 50% 50%);
 }
 #about h2,h5
 {
   padding-top: 3%;
   text-align: center;
   padding-left: 5%;
   font-size: 1.7rem;
 }


 #CircleBar h1{
   margin-left: 50%;
 }
  #CircleBar  strong{
    padding-top: 80px;
  }
  #CircleBar .round strong{
    top: 40%;
  transform: translate(-50%);
}
  #contact h1{
    font-size: 6rem;
  }
  #contact .container{
    margin-right: 0;
    margin-left: 0;
    text-align:left;
  }
  #contact h1{
    font-size: 5.8rem;
  }

.h{
  margin-left: 0;
}



.main{
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
}
.brand-name{
  margin-right: 18%;
}
.upBtn{
  margin-top: 5%;
  margin-right: 3%;
  text-align: center;
}
.main{
  display: grid;
  grid-template-columns: 100%;
}
.follow{
  padding:0;
  text-align: center;
}
.copy{
  font-size: 1.2rem;
}

}
